# Stock Market Analysis Project Requirements

# General Data Analysis and Manipulation
pandas==1.5.3
numpy==1.23.5

# Data Visualization
plotly==5.15.0

# Machine Learning
scikit-learn==1.2.2
scipy==1.11.3

# Jupyter Notebooks (if used for project)
jupyter-client==6.1.12
jupyter-console==6.1.0

# Specific Dependencies
# (Include specific dependencies here, if any, for your project)

# Installation commands for dependencies:
# pip install -r requirements.txt
